<div class="page-header text-center">
  <h1><b><%= @event.event_description %></b></h1>
  <h4><dd><%= @event.venue_name %> (<%= @event.venue_city %>, <%= @event.venue_state %>)</dd></h4>
  <h6><%= @event.event_date_time.strftime('%A') %> (<%= @event.event_date_time.strftime('%D') %>)</h6>
</div>


<div class="row">

  <div class="col-md-6">
    <dl class="text-center">
      <dt>Available Quantity</dt>
      <dd class="event-detail-buffer-15"><%= @event.quantity %></dd>

      <dt>Section | Row</dt>
      <dd class="event-detail-buffer-15"><%= @event.section %> | <%= @event.row %></dd>

      <dt>Seat numbers</dt>
      <dd class="event-detail-buffer-15"><%= @event.seat_numbers %></dd>

      <dt>Notes</dt>
      <dd class="event-detail-buffer-15"><%= @event.notes %></dd>
    </dl>
  </div>


  <div class="col-md-6">
    <dl class="text-center">
      <dt>Price per ticket</dt>
      <dd class="event-detail-buffer-15">$<%= @event.asking_price %> each</dd>

      <dt>Discount Percent</dt>
      <dd class="event-detail-buffer-15"><%=  number_to_percentage((1-(@event.asking_price/@event.face_value))*100, precision: 0) %></dd>

      <dt>Ticket type</dt>
      <dd class="event-detail-buffer-15"><%= @event.ticket_type %></dd>

      <dt>Delivery notes</dt>
      <dd class="event-detail-buffer-15"><%= @event.delivery_notes %></dd>

    </dl>
  </div>
</div>
