<div class="page-header">
  <h1>My Broadcast Events</h1>
  <h5 class="subtitle">Active tickets currently listed for sale.</h5>
</div>

<p><a href="/events/new" class="btn btn-primary">Add a New Event</a></p>

<table class="table table-hover table_center">
  <thead>
    <tr>
      <th>Event description</th>
      <th>Event date time</th>
      <th>Venue name</th>
      <th>Region</th>
      <th>Venue city</th>
      <th>Venue state</th>
      <th>Section</th>
      <th>Row</th>
      <th>Seat numbers</th>
      <th>Quantity</th>
      <th>Asking price</th>
      <th>Ticket type</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Notify</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_description %></td>
        <td><%= event.event_date_time.strftime('%D') %></td>
        <td><%= event.venue_name %></td>
        <td><%= Region.find(event.region_id).region_name %></td>
        <td><%= event.venue_city %></td>
        <td><%= event.venue_state %></td>
        <td><%= event.section %></td>
        <td><%= event.row %></td>
        <td><%= event.seat_numbers %></td>
        <td><%= event.quantity %></td>
        <td>$<%= event.asking_price %></td>
        <td><%= event.ticket_type %></td>
        <td>
          <a href="/events/<%= event.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/events/<%= event.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
            <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, "/delete_event/#{event.id}", data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %>
          </a>
        </td>
        <td>
          <a href="/email_event/<%= event.id %>" class="btn btn-success">
            <i class="fa fa-envelope-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

