<div class="page-header text-center">
  <h1><b><%= @event.event_description %></b></h1>
  <h4><dd><%= @event.venue_name %> (<%= @event.venue_city %>, <%= @event.venue_state %>)</dd></h4>
  <h6><%= @event.event_date_time.strftime('%A') %> (<%= @event.event_date_time.strftime('%D') %>)</h6>
</div>

<div class="row well">

  <div class="col-md-6">
    <dl class="text-center">
      <dt>Available Quantity</dt>
      <dd class="event-detail-buffer-15"><%= @event.quantity %></dd>

      <dt>Section | Row</dt>
      <dd class="event-detail-buffer-15"><%= @event.section %> | <%= @event.row %></dd>

      <dt>Seat numbers</dt>
      <dd class="event-detail-buffer-15"><%= @event.seat_numbers %></dd>

      <dt>Notes</dt>
      <dd class="event-detail-buffer-15"><%= @event.notes %></dd>
    </dl>
  </div>


  <div class="col-md-6">
    <dl class="text-center">
      <dt>Price per ticket</dt>
      <dd class="event-detail-buffer-15">$<%= @event.asking_price %> each</dd>

      <dt>Discount Percent</dt>
      <dd class="event-detail-buffer-15"><%=  number_to_percentage((1-(@event.asking_price/@event.face_value))*100, precision: 0) %></dd>

      <dt>Ticket type</dt>
      <dd class="event-detail-buffer-15"><%= @event.ticket_type %></dd>

      <dt>Delivery notes</dt>
      <dd class="event-detail-buffer-15"><%= @event.delivery_notes %></dd>

    </dl>
  </div>
</div>

<div class="page-header text-center">
  <h2>Genre Tagging</h2>
</div>


<div class="row btn-group-lg event-detail-buffer-15 well" >
  <% @genres.each do |genre| %>
    <div class="col-md-3">
      <% if @event.genres.include?(genre) %>
        <% tag = Tagging.find_by({ :event_id => @event.id, :genre_id => genre.id }) %>

        <form action="/delete_tagging/<%= tag.id %>/<%= @event.id %>" class="form-horizontal">

          <a href="/delete_tagging/<%= tag.id %>/<%= @event.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>

          <input type="submit" value="Untag as <%= genre.genre_name %>" class="btn btn-primary">

        </form>

      <% else %>

      <form action="/create_tagging" class="form-horizontal">
        <!-- Label and input for genre_id -->

            <input type="hidden" id="genre_id" name="genre_id" placeholder="Genre" class="form-control" value = "<%= genre.id %>">

        <!-- Label and input for event_id -->
            <input type="hidden" id="event_id" name="event_id" placeholder="Event" class="form-control" value="<%= @event.id %>">

            <input type="submit" value="Tag as <%= genre.genre_name %>" class="btn btn-primary">

      </form>
      <% end %>
    </div>
  <% end %>
</div>
