<div class="page-header">
  <h1>Genre Notifications</h1>
  <h5 class="subtitle">Select Genres For Which You Would Like to Receive Notifications</h5>
</div>

<div class="row btn-group-lg event-detail-buffer-15" >
  <% @genres.each do |genre| %>
    <div class="col-md-2">
      <% if current_user.favorite_genres.include?(genre) %>
        <form action="/delete_interest" class="form-horizontal">

            <% int = Interest.find_by({ :user_id => current_user.id, :genre_id => genre.id }) %>
            <a href="/delete_interest/<%= int.id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i>
            </a>

            <input type="hidden" id="interest_id" name="interest_id" placeholder="Genre" class="form-control" value = "<%= int.id %>">

            <input type="submit" value="<%= genre.genre_name %>" class="btn btn-primary">
        </form>
        <% else %>
          <form action="/create_interest" class="form-horizontal">
            <a href="/create_interest?genre_id=<%= genre.id %>" class="btn btn-success">
              <i class="fa fa-heart-o"></i>
            </a>

              <input type="hidden" id="genre_id" name="genre_id" placeholder="Genre" class="form-control" value = "<%= genre.id %>">

              <input type="submit" value="<%= genre.genre_name %>" class="btn btn-primary">

        <% end %>
      </form>
    </div>
  <% end %>
</div>

